* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  padding-block: 40px;
}

h1 {
  font-size: 1.5rem;
  padding-bottom: 24px;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background: hsl(0deg, 0%, 60%);
  border-top: 7px solid hsl(0deg, 0%, 40%);
  padding: 56px 0;
}

.max-width-wrapper{
  max-width: 630px;
  margin-inline: auto;
  padding-left: 16px;
}

.intro-chunk{
  max-width: 330px;
}

.card {
  background: white;
  border-bottom: 7px solid hsl(0deg, 0%, 40%);
  margin-left: -16px;
  padding-inline: 16px;
  padding-top: 8px;
}

.card p {
  line-height: 1.4;
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  border-bottom: 7px solid hsl(45deg, 100%, 40%);
  max-width: fit-content;
  margin-inline: -24px;
  padding-inline: 24px;
  padding-block: 10px;
}